# Documentation: https://roots.io/trellis/docs/remote-server-setup/
# `wordpress_sites` options: https://roots.io/trellis/docs/wordpress-sites
# Define accompanying passwords/secrets in group_vars/production/vault.yml

wordpress_sites:
  kisd.de:
    site_hosts:
      - canonical: kisd.de
        redirects:
          - www.kisd.de
    local_path: ../site # path targeting local Bedrock site directory (relative to Ansible root)
    repo: git@github.com:spaces-kisd/kisd.de
    # repo_subtree_path: site # relative path to your Bedrock/WP directory in your repo
    branch: main
    multisite:
      enabled: false

    # Disable for now.
    xmlrpc:
      enabled: false

    # 1. SSL Configuration
    # We must use self-signed because the proxy handles the public DNS.
    # The proxy connects to Trellis via port 443, so SSL must be enabled here.
    ssl:
      enabled: true
      provider: self-signed

    # 2. Cache Configuration
    # Disable FastCGI caching if the upstream proxy handles caching,
    # otherwise, leave enabled.
    cache:
      enabled: true

    # 3. Nginx Includes
    # We need to tell Nginx to trust the proxy's IP address.
    nginx_includes:
      - { name: proxy-settings, template: nginx-includes/all/proxy-trust.conf.j2 }
